@model List<Chat>

<a class="nav-link count-indicator dropdown-toggle" id="messageDropdown" href="#" data-toggle="dropdown">
    <i class="mdi mdi-email-outline"></i>
    <span class="count count-varient2">@Model.Count()</span>
</a>
<div class="dropdown-menu navbar-dropdown navbar-dropdown-large preview-list" aria-labelledby="messageDropdown">
    <h6 class="p-3 mb-0">Mesaj</h6>
    @foreach (var item in Model)
    {
        <a asp-area="Writer" asp-controller="Chat" asp-action="ChatReply" asp-route-id="@item.ChatId" class="dropdown-item preview-item">
            <div class="preview-item-content flex-grow">
                <span class="badge badge-pill badge-success">@item.ChatDate</span>
                <p class="text-small text-muted ellipsis mb-0">Bir Mesajınız Var. Okumak İçin Tıklayınız.</p>
            </div>
        </a>
    }
    <h6 class="p-3 mb-0">
        <a asp-area="Writer" asp-controller="Chat" asp-action="ChatList">Tümünü gör</a>
    </h6>
</div>