@model Article
@{
    ViewData["Title"] = "Blog Ekle";
    Layout = "_LayoutWriter";
}

<div class="content-wrapper">
    <div class="row">
        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">BLOG EKLE</h4>
                    <div class="table-responsive">
                        <form asp-area="Writer" asp-controller="Blog" asp-action="BlogCreate" method="post">
                            <div class="form-group">
                                <label>Başlık</label>
                                <input type="text" asp-for="ArticleTitle" class="form-control"/>
                            </div>
                            <div class="form-group">
                                <label>Açıklama</label>
                                <input type="text" asp-for="ArticleDescription" class="form-control"/>
                            </div>
                            <div class="form-group">
                                <label>Resim</label>
                                <input type="text" asp-for="ArticleCoverImageUrl" class="form-control"/>
                            </div>
                            <div class="form-group">
                                <label>Kategori</label>
                                <select asp-for="CategoryId" class="form-control">
                                    @foreach (var item in ViewBag.categories)
                                    {
                                        <option value="@item.Value">@item.Text</option>
                                    }
                                </select>
                            </div>
                            <button class="btn btn-primary" type="submit">Kaydet</button>
                            <a asp-area="Writer" asp-controller="Blog" asp-action="BlogList" class="btn btn-dark ml-2">Geri</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>