@model UserRegisterModel
@{
    ViewData["Title"] = "Kayıt Ol";
}

<div class="container border my-5 p-3">
	<h3 class="text-center">KAYIT FORMU</h3>
	<form asp-controller="User" asp-action="UserRegister" method="post">
		<br />
		<label>Adınız</label>
		<input type="text" class="form-control" asp-for="Name" />
		<br />
		<label>Soyadınız</label>
		<input type="text" class="form-control" asp-for="Surname" />
		<br />
		<label>Kullanıcı Adınız</label>
		<input type="text" class="form-control" asp-for="Username" />
		<br />
		<label>Email Adresi</label>
		<input type="text" class="form-control" asp-for="Email" />
		<br />
		<label>Şifre</label>
		<input type="password" class="form-control" asp-for="Password" />
		<br />
		<div class="text-danger" asp-validation-summary="ModelOnly"></div>
		<br />
		<button type="Submit" class="btn btn-info">Kayıt Ol</button>
		<a class="btn btn-light" asp-controller="User" asp-action="UserLogin">GİRİŞ YAP</a>
	</form>
</div>