@model NavbarModel

    <li class="nav-item nav-profile">
        <a href="#" class="nav-link">
        <div class="nav-profile-image">
            <img src="@Model.AppUser.ImageUrl" alt="profile" />
            <span class="login-status online"></span>
        </div>
        <div class="nav-profile-text d-flex flex-column pr-3">
            <span class="font-weight-medium mb-2">@Model.AppUser.Name @Model.AppUser.Surname</span>
        </div>
        <span class="badge badge-danger text-white ml-3 rounded">@Model.TotalBlogCount</span>
        </a>
    </li>